.git
.github
.auth
.integration
.tools
artifacts
node_modules
logs
SessionCache
ProfileKeyCache
runtime
/docker
**/bin
**/obj
**/TestResults
*.log
*.key
*.pfx
*.snk
accounts.bin
accounts.json
sessions.json
updates.json
profiles.json
appsettings.local.json
MinecraftClient.ini
